<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Alumno</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 20px;
            padding: 20px;
            border: 1px solid #3498db; /* Azul */
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #ecf0f1; /* Gris claro */
        }

        h1, h2, h6 {
            border-bottom: 1px solid #3498db; /* Azul */
            padding-bottom: 5px;
            margin-bottom: 10px;
        }

        h1 {
            color: #2c3e50; /* Gris oscuro */
        }

        h2 {
            color: #3498db; /* Azul */
        }

        h6 {
            color: #7f8c8d; /* Gris */
        }
    </style>
</head>
<body>
    <div>
        <h1>Usuario registrado</h1>
        <div>
            <h2>ID: <%= idStudent %></h2>
            <h2>Nombre: <%= Nombre %></h2>
        </div>
        <h2>Pais: <%= country %></h2>
    </div>

    <div>
        <h6>*Bienvenido, ahora estás registrado en nuestra página</h6>
    </div>

    <!-- Agrega el botón con el enlace a la ruta deseada -->
    <a href="/index.html" style="display: block; margin-top: 10px; padding: 10px; background-color: #3498db; color: #fff; text-decoration: none; border-radius: 5px; text-align: center;">Volver al inicio</a>
</body>
</html>
